$white: #FFFFFF;
$silver: #CCCCCC;
$nobel: #B4B4B4;
$tundora: #4D4D4D;
$mineshaft: #3F3F3F;
$lapalma: #20AD1A;

%unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

%entry-fadeout {
  right: 0;
  bottom: 0;
  width: 60px;
  height: 100%;
}

@mixin prefix($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin pseudo($content: '', $display: block, $position: absolute) {
  content: $content;
  display: $display;
  position: $position;
}

* {
  @include prefix(box-sizing, border-box);
  margin: 0;
  padding: 0;
}

body {
  width: 410px;
  font-family: Arial, Verdana, 'Open Sans', Helvetica, Sans-serif, Tahoma;
}

ul {
  list-style: none;
}

a {
  color: $lapalma;
  text-decoration: none;
}

.unselectable {
  @extend %unselectable;
}

.accordion {
  @include prefix(border-radius, 2px);
  width: 100%;
  background: $white;
  .menu-header {
    @extend %unselectable;
    @include prefix(transition, all 0.4s linear)
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: $tundora;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid $silver;
    position: relative;
  }
  li {
    &:last-child .link {
      border-bottom: 0;
    }
    i {
      @include prefix(transition, all 0.4s linear)
      position: absolute;
      top: 13px;
      left: 12px;
      font-size: 18px;
      color: $tundora;
      &.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
      }
    }
    &.open {
      .menu-header {
        color: $lapalma;
        border-bottom: 0;
      }
      i {
        color: $lapalma;
        &.fa-chevron-down {
          @include prefix(transform, rotate(180deg));
        }
      }
      .i-container {
        i {
          color: $white;
        }
        &:hover {
          i {
            color: $lapalma;
          }
        }
      }
    }
    &.default .submenu {
      display: block;
    }
  }
}

.submenu {
  display: none;
  background: $tundora;
  font-size: 14px;
  li {
    border-bottom: 1px solid $mineshaft;
    font-family: Tahoma;
    padding: 12px 16px 12px 42px;
    position: relative;
    &:after {
      @include pseudo;
      @extend %entry-fadeout;
      background: linear-gradient(to right, rgba($tundora, 0), $tundora 50%);
    }
    &:hover {
      background: $lapalma;
      color: $white;
      .urlcaption {
        color: $tundora;
      }
      &:after {
        @include pseudo;
        @extend %entry-fadeout;
        background: linear-gradient(to right, rgba($lapalma, 0), $lapalma 50%);
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: $white;
  }
  .title {
    height: 1.2em;
    overflow: hidden;
  }
  .urlcaption {
    font-size: 12px;
    color: $nobel;
    overflow: hidden;
  }
}

.i-submenu {
  display: none;
  background: $tundora;
  font-size: 16px;
  li {
    display: inline-block;
    width: 95px;
    height: 50px;
    color: $white;
    .i-container {
      height: inherit;
      width: inherit;
      text-align: center;
    }
    i {
      position: relative;
      top: initial;
      left: initial;
    }
    .i-caption {
      font-size: 10px;
    }
    &:hover {
      color: $lapalma;
    }
  }
}

#settings li {
  @extend %unselectable;
  cursor: pointer;
}

#copyright {
  @extend %unselectable;
  font-weight: 600;
  color: $tundora;
  float: right;
  padding: 8px 12px 6px 7px;
}