ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 2px 10px 5px 10px;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

li:hover {
  padding-top: 7px;
  padding-bottom: 10px;
  background-color: rgba(0, 153, 0, 0.2);;
}

a {
  text-decoration: none;
}